<!DOCTYPE html>
<html>
<head>
    <title>Aftermath</title>

    @Styles.Render("~/Content/css")
</head>
<body>

    <input data-bind="value: nameFilter, valueUpdate: 'keyup'" placeholder="filter names" />
    <ul data-bind="foreach: filteredcompanies">
        <li data-bind="text: Name">
    </ul>
    <ul data-bind="foreach: companies">
        <li data-bind="text: Name, click: $parent.selectedCompany">
    </ul>

    <div data-bind="with: selectedCompany">
        <ul data-bind="foreach: Departments">
            <li data-bind="text: Name">
        </ul>
    </div>


    @Scripts.Render("~/bundles/all")
</body>
</html>
